<!doctype html>
<html>
  <head>
    <title>Check Weather</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Check the Weather</h1>
    <form method="POST" action="/weather">
        <p>City Name: <input id="city" type="text" name="city" required /></p>
        <input type="submit" value="Get Weather" />
    </form>
  </body>
</html>